.meeting-title {
  color: red !important;
  text-align: left !important;
  text-transform: capitalize;
}

.logo {
  margin-top: 101px;
}

.day-btn {
  border-radius: 2px !important;
}

.spinner {
  color: blue !important;
  background-color: orange !important;
}

.assistive-text {
 color: purple !important;
}

.spinner-dot-a {
  background-color: orange !important;
}

.spinner-dot-b {
  background-color: orange !important;
  color: orange;
  margin-top: 25px;
}

.bookit-popup .bookit-popup-window .routing-loader .routing-loader-body span {
 color: orange !important;
}

.assistive-text {
color: orange !important;
background: orange !important;
}

.spinner:before {
background: purple !important;
}

.spinner:after {
background: purple !important;
}

.loading-spinner-text {
  color: blue !important;
  font-size: 100px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

[role="button"] {
   color: white !important;
   background-color: black !important;
   animation: spin 0.5s linear infinite !important; 
}

.timeslot-button {
  border-radius: 90% !important;
}

#pr_id_2_label {
  color: blue !important;
}

.select-datetime-header-text {
  color: orange !important;
  font-size: 30px !important;
}

.day-number {
  color: brown !important;
  font-size: 20px;
}

.cal-container {
  background-color: slategray !important;
}

.input-container {
   background-color: #f0f0f0;
   border-radius: 0px;         
   border: 2px solid green;    
   font-weight: 400;           
   padding: 12px 20px;         
}

.form-title {
  color: purple !important;
  padding: 100px 0 !important;
  font-weight: 10 !important;
}
